[submodule "notas_credito"]
	path = notas_credito
	url = https://github.com/xmarts/notas_credito.git
[submodule "tracking"]
	path = tracking
	url = git@github.com:xmarts/tracking.git
	branch = 12.0
[submodule "multi_branch"]
	path = multi_branch
	url = git@github.com:viernes/multi_branch.git
[submodule "pos_save_quotations"]
	path = pos_save_quotations
	url = git@github.com:viernes/pos_save_quotations.git
[submodule "field_contacts_jaro"]
	path = field_contacts_jaro
	url = git@github.com:xmarts/field_contacts_jaro.git
[submodule "ieps_calculation"]
	path = ieps_calculation
	url = git@github.com:xmarts/ieps_calculation.git
[submodule "suite_account_disperse"]
	path = suite_account_disperse
	url = git@github.com:viernes/suite_account_disperse.git
[submodule "account_multi_pay"]
	path = account_multi_pay
	url = git@github.com:viernes/account_multi_pay.git
[submodule "credit_limit_alert_update"]
	path = credit_limit_alert_update
	url = git@github.com:xmarts/credit_limit_alert_update.git
[submodule "amount_to_text"]
	path = amount_to_text
	url = https://github.com/xmarts/amount_to_text.git
[submodule "fields_functions_jarochito"]
	path = fields_functions_jarochito
	url = https://github.com/xmarts/fields_functions_jarochito.git
[submodule "payments_usd_mxn"]
	path = payments_usd_mxn
	url = https://github.com/xmarts/payments_usd_mxn.git
