[submodule "notas_credito"]
	path = notas_credito
	url = https://github.com/xmarts/notas_credito.git
[submodule "multi_branch"]
	path = multi_branch
	url = git@github.com:viernes/multi_branch.git
[submodule "credit_limit_alert_update"]
	path = credit_limit_alert_update
	url = git@github.com:xmarts/credit_limit_alert_update.git
[submodule "account_multi_pay"]
	path = account_multi_pay
	url = git@github.com:viernes/account_multi_pay.git
[submodule "tracking"]
	path = tracking
	url = https://github.com/xmarts/tracking.git
[submodule "stock_cycle_count"]
	path = stock_cycle_count
	url = https://github.com/xmarts/stock_cycle_count
[submodule "fields_functions_jarochito"]
	path = fields_functions_jarochito
	url = https://github.com/xmarts/fields_functions_jarochito.git
[submodule "addenda_siete24"]
	path = addenda_siete24
	url = https://github.com/xmarts/addenda_siete24.git
[submodule "amount_to_text"]
	path = amount_to_text
	url = https://github.com/xmarts/amount_to_text.git
[submodule "addenda_farmgdl"]
	path = addenda_farmgdl
	url = https://github.com/xmarts/addenda_farmgdl.git
[submodule "addendas_soriana"]
	path = addendas_soriana
	url = https://github.com/xmarts/addendas_soriana.git
[submodule "ieps_calculation"]
	path = ieps_calculation
	url = https://github.com/xmarts/ieps_calculation.git
[submodule "addenda_superprecio"]
	path = addenda_superprecio
	url = https://github.com/xmarts/addenda_superprecio.git
[submodule "addenda_tiendas3b"]
	path = addenda_tiendas3b
	url = https://github.com/xmarts/addenda_tiendas3b.git
