[submodule "notas_credito"]
	path = notas_credito
	url = https://github.com/xmarts/notas_credito.git
[submodule "multi_branch"]
	path = multi_branch
	url = git@github.com:viernes/multi_branch.git
[submodule "credit_limit_alert_update"]
	path = credit_limit_alert_update
	url = git@github.com:xmarts/credit_limit_alert_update.git
[submodule "account_multi_pay"]
	path = account_multi_pay
	url = git@github.com:viernes/account_multi_pay.git
[submodule "fields_functions_jarochito"]
	path = fields_functions_jarochito
	url = git@github.com:xmarts/fields_functions_jarochito.git
[submodule "charge_uuid_expense"]
	path = charge_uuid_expense
	url = git@github.com:xmarts/charge_uuid_expense.git
